html,
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #140e07;
    color: #fff;
}

.container {
    max-width: 940px;
}

.text-white {
    color: #fff;
}

.display-inline {
    display: inline;
}

.btn-table {
    margin: 10px !important;
}

.dropdown-menu>li>a {
    padding: 0 !important;
}


/* Header */

.header {
    text-align: center;
    margin: 50px 0;
}

.header .container {
    padding: 30px 0 0 0;
}


/* Main */

.main {
    margin: 80px 0;
}

.main h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
}


/* Form */

form input.form-control {
    border: 0px;
    border-radius: 0px;
}

.main .btn,
.footer .btn {
    margin: 30px 0;
    color: #fff;
    background: rgba(0, 240, 190, 0.25);
    border: 0px;
    border-radius: 0px;
}

#users_table>thead>tr>th,
#users_table>tbody>tr>th {
    vertical-align: middle;
    text-align: center;
}


/* Footer */

.footer .container {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.footer ul {
    list-style: none;
    padding: 0 20px;
    margin-bottom: 80px;
}

.footer li {
    display: inline;
    padding: 0 10px;
    border-right: 1px solid white;
}

.footer li:last-child {
    border-right: none;
}
